*{
    color: rgb(0, 0, 0);
    margin:0%;
    box-sizing: border-box;
    padding:0%
}

h1 {
    color: blue;
}

h2 {
    color: aqua;
}

body > header{
    background-color: lightskyblue;
    padding: 16px 8;
    color: #fff;
}

header li{
    display: inline;
}

header li a{
    color: #fff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container{
    width: 1264px;
    margin: 0, auto, 0, auto;
}

.creation-date{
    color: mediumblue;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 160px ;
}

.articles article {
    width: 30%;
}

section{
    padding: 16px 8;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a{
    background-color: blueviolet;
    color:cornflowerblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}

.articles article a:hover{
    text-decoration: underline;
    background-color: blue;
}