.cabeca img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.cabeca h1{
    margin-left: 20px;
}

.cabeca{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
}

header{
    display: flex;
    align-items: center;
}

#perifericos{
    margin-left: 5px;
}

.mouse img{
    width: 150px;
}

.mouse{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.game{
    margin-left: 5px;
}

.game img{
    width: 200px;
}

#jogo{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#jogo img{
    border-radius: 3%;
}