.cabeca img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.cabeca h1{
    margin-left: 20px;
}

.cabeca{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
}

header{
    display: flex;
    align-items: center;
}

#perifericos .mouses .preco{
    margin-left: 5px;
    display:flex;
    align-content: space-between;
}

.mouses img{
    width: 150px;
}

.mouses .preco{
    display:block;
    align-items: center;
}
.mouses .preco h2{
    margin-left: 25px
}